<li class="action-received">
    <div class="collapsible-header valign-wrapper">
        <a class="btn-floating action-icon"><i class="material-icons">call_received</i></a>
        <span class="action-type">Received</span>
        <span class="action-amount">{{amnt}} BCH</span>
        <span class="action-date right">{{date}}</span>
    </div>
    <div class="collapsible-body action-collapse">
        <span class="txid"><a href="{{txid_href}}" class="truncate" target="_blank">{{txid}}</a></span>
    </div>
</li>
