.simplebar-content {
    overflow-x:hidden!important;
}

.card {
    padding-top:0.3rem;
}

.card .card-content {
    padding: 0;
}

.collapsible {
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    margin:0;
}

.collapsible-body {
    padding:1rem;
}
.collapsible-header {
    position:relative;
    padding:0.5rem;
}
#send {
    padding: 1rem;
}
#send-btn {
    background-color: #42AD5B;
}

.action-type {
    padding-left:1.5rem;
    font-size:0.9rem;
}
.action-amount {
    padding:0.5rem;
    position:absolute;
    left:10rem;
    font-size:0.9rem;
    font-weight:100;
}
.action-date {
    position:absolute;
    right:1rem;
    font-size:0.9rem;
    font-weight:100;
}
.txid {
    font-size: 0.8rem;
    font-weight:100;
}
.settings-btn {
    position:absolute;
    right:1rem;
    top:0.5rem;
}
.settings-btn:hover {
    cursor:pointer;
}
.card-fixed-height {
    height:400px;
    max-height:400px;
    overflow-y:overlay;
}
#qrcode {
    width:100%;
}
#qrcode img {
    width:100%;
    height:auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#generate {
    padding:1rem;
}
#logout-btn {
    font-weight: inherit;
    font-size: inherit;
    background-color: #2196F3;
}
#mnemonic-import-btn {
    background-color: #2196F3;
}
#mnemonic-download-btn {
    background-color: #42AD5B;
}

#receive-address-link {
    font-size:0.9rem;
    padding:0.5rem;
    background-color: #212121;
    color: #fff;
}
#balance-amnt {
    font-family: 'Kodchasan', sans-serif;
}
#unconfirmed-balance-amnt {
    font-family: 'Kodchasan', sans-serif;
    margin:0px;
}

.transaction-pane {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:1rem;
    color: #fefefe;
    background-color: #42AD5B;
}

.transaction-amount {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
    color: #fff;
    width: 100%;
    display: inline-block;
}

.transaction-action-icon i {
    font-size:14rem;
}

.visible-fade {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
.hidden-fade {
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s 0.2s, opacity 0.2s ease-out;
}
#logged-in-card {
    background-color: #42AD5B;
}
#logged-out-card {
    background-color: #9c27b0;
}
.card-content-pane {
    background-color: #f5f5f5;
}
.card-reveal-header {
    color:#212121;
}
.action-icon {
    color:#fff;
}
.action-received .action-icon {
    background-color:#66BB6A;
}
.action-sent .action-icon {
    background-color:#ff9800;
}
.action-collapse {
    background-color: #fafafa;
}
.collapsible-header i {
    width: inherit;
}
#linkback {
    position:absolute;
    bottom:0px;
}
#revision {
    font-size: 0.7rem;
    margin:0;
}
.click-to-minimize:hover {
    cursor: pointer;
}
